.header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition:.3s ease-in;
    overflow: hidden;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: auto;
    height:100%;
    padding: 0 1rem;

}

.header .navbar .logo {
    height: auto;
}

.header .nav-menu{
display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover{
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.hamburger {
    display:none;
}






@media screen  and (max-width:940px) {

.header {
    max-width: 100%;
background-color: rgba(0,0,0,.9);
}
}